services:
  - type: web
    name: tailscale-exit-node
    runtime: image
    image:
      url: ghcr.io/erfan-fazeli/tailscale-easy-installer:latest
    healthCheckPath: /health
    envVars:
      - key: TAILSCALE_AUTH_KEY
        sync: false
      - key: HOSTNAME_PREFIX
        value: Render-
      - key: HTTP_PORT
        value: 8080
      - key: PORT
        value: 8080
    disk:
      name: tailscale-state
      mountPath: /var/lib/tailscale
      sizeGB: 1
