services:
  - type: web
    name: tailscale-exit-node
    env: docker
    dockerfilePath: ./Dockerfile
    dockerContext: .
    healthCheckPath: /
    envVars:
      - key: TAILSCALE_AUTH_KEY
        sync: false
      - key: HOSTNAME_PREFIX
        value: Render-
      - key: HTTP_PORT
        value: 8080
    disk:
      name: tailscale-state
      mountPath: /var/lib/tailscale
      sizeGB: 1
    autoDeploy: true
