app = "tailscale-exit-node"
primary_region = "iad"

[build]
  dockerfile = "./Dockerfile"

[env]
  HOSTNAME_PREFIX = "Fly-"
  HTTP_PORT = "8080"

[http_service]
  internal_port = 8080
  force_https = false
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 256

[mounts]
  source = "tailscale_state"
  destination = "/var/lib/tailscale"
  initial_size = "1GB"
