services:
  - type: web
    name: tailscale-exit-node
    runtime: image
    image:
      url: ghcr.io/erfan-fazeli/tailscale-easy-installer:latest
    startCommand: /entrypoint.sh
    healthCheckPath: /health
    envVars:
      - key: TAILSCALE_AUTH_KEY
        sync: true
      - key: HOSTNAME_PREFIX
        value: Render-
      - key: HTTP_PORT
        value: "10000"
      - key: PORT
        value: "10000"
    disk:
      name: tailscale-state
      mountPath: /var/lib/tailscale
      sizeGB: 1
